body{
    background-color: rgb(252,252,252);
}

header{
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: #9C9EFF;
    top: 0px;
    left: 0px;
}

.flex-container{
    position: absolute;
    display: flexbox;
    height: 100%;
    width: 100%;
    background-color: black;
}