body{
    background-color: rgb(252,252,252);
    margin: 0 auto;
}

header{
    height: 25px;
    width: 1500px;
    background-color: #9C9EFF;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 1500px;
    background-color: black;
    opacity: 50%;
    margin: 0 auto;
}

.flex-container > div{
    display:flex;
    width: 1080px;
    height: 60px;
    background-color: white;
    margin: 0 auto;
}