body{
    background-color: rgb(252,252,252);
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 1500px;
    background-color: #9C9EFF;
    margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 510px;
  background-color: pink;

}

.NavBar{
    background-color: #9C9EFF;
    color: white;
    width: 1080px;
    height: 60px;
    border-radius: 25px;
}

.textLogo{
    font-size: large;
    font-family: 'Kantumruy Pro';font-size: 128px;
    height: 50px;
}

.icon{
    height: 75px;
}